<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".activity.CategoryStuffActivity"></activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.AdminActivity"
            android:label="@string/title_activity_admin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BottomNavigationActivity" />
        </activity>
        <activity android:name=".activity.MySearchResultActivity" />
        <activity android:name=".activity.IdleGoodsDetailInfoActivity" />
        <activity
            android:name=".activity.MyCollectedListActivity"
            android:label="收藏夹" />
        <activity
            android:name=".activity.MyDetailInfoActivity"
            android:label="个人详情" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" /> <!-- 设置进入该页面时从返回栈中查找而不是重新创建 -->
        <activity
            android:name=".activity.BottomNavigationActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.myapplication.BmobContentProvider" />
    </application>

</manifest>